/*
 *    VIZ
 */


header
{
  color:white;
  padding-top: 10px;
  background: #444;
}

header *
{
  display: inline-block;
}


header #file_name
{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #f5f2f0;

  color:#666;
  font-size: 12pt;
  text-align: center;

  min-width:10em;
  padding:0.5em 1em;

  margin-right:20px;
}

/*h5*/.logo {
  margin-right: 20px;
  float: right;
}

/*h5*/.logo a {
  color: #fff;
  text-decoration: none;
}

.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}


.column
{
  float: left;
  position: relative; /* needed to make absolute alignment stay with column */
}

.viz_column  { width: 50%; }

.code_column {
  background: #f5f2f0;
  width: 50%;
}


/*pre*/.code_block {
  padding-top: 1em;
  height: 100%; /* initially, until it gets overriden by JS */
}

/*Make pre tag wrap*/
/*pre*/.wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*code*/.code_viewer {
  overflow: auto;
}

.viz_column .info {
  position: absolute;
  top:2px;
  left:2px;

  font-size: 10pt;
  color:#888;
}




/*
 * Prism Tweaks
 */

.token
{
  background:transparent !important;
}


/*
 * SVG Styles
 */

svg {
  width: 100%;
  height:100%;
  /*border: 1px solid #ccc;*/
  user-select: none;
}

path.link {
  fill: none;
  stroke: #444;
  stroke-opacity: 0.5;
}

#arrow-marker {
  fill: #444;
  stroke-opacity: 0.5;
}

circle {
  fill: #ccc;
  stroke: #666;
  stroke-width: 1.5px;
  /*opacity: 0.2;*/
}

text {
  font: 12px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

circle.node {
  fill: lightsteelblue;
  stroke: #555;
  stroke-width: 3px;
}

circle.leaf {
  stroke: #fff;
  stroke-width: 1.5px;
}

circle.link-expanded {
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 2px 4px;
}

circle.helper {
  stroke-width: 0;
  fill: #333;
  opacity: 0.6;
}

circle.center-of-mass {
  fill: white;
  stroke: red;
  stroke-width: 5px;
}

path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.2;
}

line.link {
  //stroke: #555;
  stroke: red;
  stroke-opacity: 0.5;
  pointer-events: none;
}

path.exapnded {
  stroke-opacity: 0.75;
}

path.not-expanded {
  stroke-opacity: 0.2;
}
