
/*
 *	Landing page
 */


form
{
	display:inline-block;
	padding: 20px;
}

form > *
{
	margin-bottom: 20px;
}

form > *:last-child
{
	margin-bottom: 0px;
}

header
{
	text-align: left;
	padding-bottom: 20px;
	border-bottom:1px solid #ddd;
}

header > *
{
	display: inline-block;
	margin-right: 10px;
}

header h1
{
	font-weight: bold;
}

header span
{
	font-size: 12pt;
	opacity: 0.5;
}



form #url
{
	margin-bottom: 10px;
}

form .url
{
	font-size:14pt;
}

form input.url, #samples span
{
	font-family: Arial, sans-serif;
	width:10em;
}

#samples .url
{
	color:white;
	cursor:pointer;
	margin-bottom: 10px;
}

#samples .url span
{
	pointer-events:none;
	color:#444;
	display:inline-block;
	text-align: left;

	padding:4px 3px;

	border-radius: 3px;
	border:1px solid rgb(128, 255, 128);
	background: rgb(230, 255, 230);
}