
/*
 *	Landing page
 */


form
{
	display:inline-block;
	padding: 20px;
}

form > *
{
	margin-bottom: 20px;
}

form > *:last-child
{
	margin-bottom: 0px;
}

header
{
	text-align: left;
	padding-bottom: 20px;
	border-bottom:1px solid #ddd;
}

header h1
{
	margin-bottom: 10px;
}



form #url
{
	margin-bottom: 20px;
}

form span, form input[type="text"]
{
	font-size:14pt;
	font-family: "Merriweather Sans", sans-serif;
}

form input[type="text"]
{
	width:10em;
}
