/*
 *  Main layout styles
 */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
body {
  height: 100%;
  font-family: "Merriweather", serif;
}

header {
  color:white;
  background: black;
  padding:10px;
}

header > *
{
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-size: 22pt;
}



pre,
code {
  font-family: "Inconsolata", monospace;
  font-size: 0.9em;
}

.column { float: left; }
.code_column { width: 50%; }
.viz_column  { width: 50%; }

/*pre*/.code_block {
  height: 100%;
}

/*Make pre tag wrap*/
/*pre*/.wrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*code*/.code_viewer {
  overflow: auto;
}
