
form
{
	display:inline-block;
	padding: 20px;
	width:50%;
}

form > *
{
	margin-bottom: 20px;
}

form > *:last-child
{
	margin-bottom: 0px;
}




#files
{
	height:20em;
	overflow:auto;
	text-align: left;
}

.file
{
	display: block;
}


.file                 { background-color: #EEE; }
.file:nth-child(even) { background-color: #DDD; }