body {
  background: #f5f2f0;
}

form
{
	display:inline-block;
	padding: 20px;

	width:50%;
	max-width:500px;
}

form > *
{
	margin-bottom: 20px;
}

form > *:last-child
{
	margin-bottom: 0px;
}




#files
{
	max-height: 20em;
	overflow:auto;
	text-align: left;
}

.file
{
	display: block;
	cursor: pointer;
}

.file:nth-child(odd) { background-color: #EEE; }

.no-files
{
	text-align: center;
}
