html
  head
    
    //META 
    meta(charset='utf-8')
    meta(name='description', content='Function call graphing for C')
    title C-Graph | Function call graphing for C
    
    //CSS
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather+Sans:800,800italic|Merriweather:400,400italic,900,900italic')
    link(rel='stylesheet', type='text/css', href='/static/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')

    block head

  body
    header
      h1 C-Graph
      p A function call graphing utility for C
    
    #content
      block body
    
    block script

    //JS
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript', src='/static/js/main.js')
