extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body
  div.center-outer
    div.center-inner
      form.shadow(action="/select", method="GET")
        header
          h1 C-Graph
          span A function call graphing utility for C

        .problem

        #url
          span.url http://github.com/
          input.url(type='text', name='user', placeholder='username')
          span.url /
          input.url(type='text', name='repo', placeholder='repo')

        #samples

          div.url
            span.user brendanwhitfield
            span.repo senna

          div.url
            span.user rossdylan
            span.repo libfab

        div
          button Next
          img.load(src="/static/ajax-loader.gif")


block script
  script(type='text/javascript', src='/node_modules/reqwest/reqwest.min.js')
  script(type='text/javascript' src='/static/scripts/index.js')
