extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body

  <a href="https://github.com/brendanwhitfield/cgraph"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

  div.center-outer
    div.center-inner
      form.shadow(action="/select", method="GET")
        header
          h1 C-Graph
          span A function call graphing utility for C

        .problem

        #url
          span.url http://github.com/
          input.url(type='text', name='user', placeholder='username')
          span.url /
          input.url(type='text', name='repo', placeholder='repo')

        #samples

          div.url
            span.user brendanwhitfield
            span.repo senna

          div.url
            span.user rossdylan
            span.repo libfab

          div.url
            span.user avsej
            span.repo yaji

        div
          button Next
          img.load(src="/static/ajax-loader.gif")


block script
  script(type='text/javascript', src='/node_modules/reqwest/reqwest.min.js')
  script(type='text/javascript' src='/static/scripts/index.js')
