extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body
  div.center-outer
    div.center-inner
      form.shadow(action="/select", method="GET")
        header
          h1 C-Graph
          span A function call graphing utility for C

        #url
          span.url http://github.com/
          input.url(type='text', name='user', placeholder='username')
          span.url /
          input.url(type='text', name='repo', placeholder='repo')

        #samples

          div.url
            | http://github.com/<span class="user">brendanwhitfield</span>/<span class="repo">senna</span>

          div.url
            | http://github.com/<span class="user">rossdylan</span>/<span class="repo">libfab</span>


        button(type='submit') Next

block script
  script(type='text/javascript').
    window.onload = function() {
      var samples    = document.querySelectorAll("div.url");
      var user_input = document.querySelector("input[name='user']");
      var repo_input = document.querySelector("input[name='repo']");

      for(var i = 0; i < samples.length; i++)
      {
        var sample = samples[i];
        sample.onclick = function(e) {
          var user = e.target.querySelector("span.user").innerHTML;
          var repo = e.target.querySelector("span.repo").innerHTML;

          user_input.value = user;
          repo_input.value = repo;
        };
      }
    };
