extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body
  div.center-outer
    div.center-inner
      form#git-url(action="/select", method="GET")
        #url
          span http://github.com/
          input(type='text', name='user', placeholder='brendanwhitfield')
          span /
          input(type='text', name='repo', placeholder='senna')
        button(type='submit') Run

block script
  script(type='text/javascript').
    var header     = document.querySelector("header");
    var center     = document.querySelector(".center-outer");
    center.style.height = window.innerHeight - header.clientHeight;