extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body
  div.center-outer
    div.center-inner
      form.shadow(action="/select", method="GET")
        header
          h1 C-Graph
          p A function call graphing utility for C

        if problem
          .problem #{problem}

        #url
          span http://github.com/
          input(type='text', name='user', placeholder='brendanwhitfield')
          span /
          input(type='text', name='repo', placeholder='senna')

        button(type='submit') Next
